$header-font-size = 25px
$color-light = #EEEEEE
$padding-left-list-wrapper = 10px
$item-list-height = 25px;

*
  padding: 0
  margin: 0
  color: #FFFFFF

.header
  padding: 10px
  background-color #003399

  .header__title
    font-weight: bold
    font-size: $header-font-size
    color: $color-light

.content
  padding: 10px

.list-wrapper
  background-color: #6699FF

  .list-wrapper__header
    background-color: #3366CC
    padding: 5px $padding-left-list-wrapper
    color: $color-light

  .list-wrapper__body
    padding: 5px $padding-left-list-wrapper

.list-item
  height: $item-list-height
  line-height: $item-list-height

  .list-item__check
    margin-right: 5px;

  .list-item__delete
    width: 15px
    height: $item-list-height
    display: inline-block
    background-size: 15px 15px
    background-image: url('../img/delete.svg')
    background-repeat no-repeat
    background-position: center
    float: right
